#cookielist__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 100%;
}

.cookielist__header {
  display: block;
  width: 100%;
  margin: 20px 0 10px 7.5px;
}

.cookielist__header__title {
  display: flex;
  height: 35px;
  line-height: 35px;
}

.cookielist__header__title > img {
  width: 35px;
  height: 35px;
}

.cookielist__header__title > p {
  margin: 0 0 0 10px;
  font-size: 20px;
  font-weight: bold;
}

.cookielist__header__type {
  display: flex;
  position: relative;
  margin-bottom: 30px;
}

.cookielist__header__type > div {
  width: 65px;
  height: 22.5px;
  font-size: 18px;
  color: #00000080;
  background-color: #ffffff00;
  padding: 0 5px 0 0;
  border: none;
  outline: none;
  cursor: pointer;
  ul {
    position: absolute;
    width: 100%;
    display: none;
    list-style: none;
    color: #00000080;
    margin: 0;
    padding: 0;
    left: 0;
    li {
      button {
        min-width: 40px;
        height: 30px;
        color: #00000080;
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #00000000;
        font-size: 15px;
        &.selected {
          color: black;
        }
      }
      img {
        height: 35px;
        opacity: 0.25;
        &.selected {
          opacity: 1;
        }
      }
      &:first-child > button {
        text-align: left;
      }
    }
  }
  &:last-child > ul > li {
    margin: 0 auto;
  }
  &.selected {
    color: black;
    ul {
      display: flex;
    }
  }
}

.cookielist__content {
  width: 100%;
  min-height: calc(100% - 56px);
}

.cookielist__content__list {
  display: flex;
  flex-wrap: wrap;
}

.cookielist__content__list__paper {
  margin: 8px 7.5px;
  cursor: pointer;
}

.cookielist__content__list__paper > img {
  width: 100px;
  height: 100px;
}
